/* GENERAL GLOBAL STYLES */

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.red {
    color: #B40B47;
}

.blue {
    color: #006983;
}

.bold {
    font-weight: bold;
}

.divider {
    border-bottom: 1px solid #e5e5e5;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-tan {
    background-color: #F2F2F2;
}

/* MAIN CONTENT */

h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 6px;
}

.content {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 13px;
    line-height: 1.5em;
}

.isi-img {
    padding-left: 15px !important;
    padding-right: 0px !important;
}

.prescribing-info {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 12px;
    line-height: 1.5em;
    padding: 2px 10px;
}

.bullets-gray ul {
    list-style-type: none;
    position: relative;
    margin-left: 2.5em;
    padding-left: 2px;
}

.bullets-gray li:before {
    content: "\2022";
    font-size: 1.5em;
    position: absolute;
    left: -0.7em;
}

.bullets-blue ul {
    list-style-type: none;
    position: relative;
    margin-left: 2.5em;
    padding-left: 2px;
}

.bullets-blue li:before {
    content: "\2022";
    font-size: 1.5em;
    position: absolute;
    left: -0.7em;
    color: #006983;
}

.img-woman {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.ref {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 10px;
    color: #555555;
    padding: 40px 0px;
}

.ref p {
    margin: 0;
}

.footer-nav ul {
    list-style-type: none;
    padding-left: 0em;
    margin: 0;
}

.footer-nav li {
    float: left;
    height: 1em;
    padding: 0 1em;
    margin: 0 !important;
    border-left: 1px solid #666666;
    line-height: 10px;
}

.footer-nav ul li:first-child {
    border: none;
    padding-left: 0;
}

.footer-nav a {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 10px;
    color: #555555;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #008852;
    text-decoration: none;
}





.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
