.red {
	color: #B40B47;
}

.blue {
	color: #006983;
}

.bold {
	font-weight: bold;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

/*.container {
	width: 75%;
}*/

.sections {
	margin: 0 auto;
}

.sections img {
	display: inline;
}

.sections .mobile {
	display: none;
}

.prescribingInfo {
	background-color: #F2F2F2;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	
	line-height: 1.5em;
	padding: 2px 10px;
}

ul .bullet-list{
	padding-left: 3em;
}

.prescribingInfo li {
	font-size: 12px;
}

.footer ul {
	list-style-type: none;
	padding-left: 0em;
}

.footer li {
	float: left;
	display: block;
	padding-right: 4em;
}

@media screen and (max-width: 500px) {
	.container {
		padding: 0;
		margin: 0;
	}

	.sections img {
		display: none;
	}

	.sections .mobile {
		display: none;
	}
}
